<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$BLAZE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="manifest" href="{% static 'json/manifest.json' %}">
    <meta name="theme-color" content="#ff9800">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <h1>$BLAZE</h1>
        <h3 style="margin-left: 1700px">{{ user.username }}</h3>
        <span id="coin-count">$BLZ: {{ coins_data.coins }}</span>
    </div>
    <div class="click-area">
        <img id="icon" src="https://ibb.co/q1hTMrB"
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
        <span id="progress-text">1000/1000</span>
    </div>
    <div class="buttons">
        <button onclick="location.href='{% url 'friends' %}'" id="friends-btn">👥 Friends</button>
        <button onclick="location.href='{% url 'boost' %}'" id="boost-btn">⚡ Boost</button>
        <button onclick="location.href='{% url 'task' %}'" id="tasks-btn">📋 Tasks</button>
        
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
