<!DOCTYPE html>
{% load static %}
{% get_media_prefix as MEDIA_URL %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$BLAZE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="manifest" href="{% static 'json/manifest.json' %}">
    <meta name="theme-color" content="#ff9800">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>📋 Tasks</h1>
        </header>
        <div class="task-container">
            <div class="task-box special-task">
                {% for task_type in task_types %}
                    {% if task_type.type_title == "Special" %}
                        <h2>{{ task_type.type_title }}</h2>
                        {% for task in tasks_by_type.Special %}
                            {% if task.task_active %}
                                <div class="task">
                                    <img src="{{ MEDIA_URL }}{{ task.tasks_icon }}" alt="Tasks Icons" width="50">
                                    <div class="task-details">
                                        <p class="task-name">{{ task.task_title }}</p>
                                        <p class="task-prize">{{ task.task_price }} $BLZ</p>
                                        <a href="{% url 'complete-task' task.id %}" class="task-button">></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="task-box normal-task">
                {% for task_type in task_types %}
                    {% if task_type.type_title == "Normal" %}
                        <h2>{{ task_type.type_title }}</h2>
                        {% for task in tasks_by_type.Normal %}
                            {% if task.task_active %}
                                <div class="task">
                                    <img src="{{ MEDIA_URL }}{{ task.tasks_icon }}" alt="Tasks Icons" width="50">
                                    <div class="task-details">
                                        <p class="task-name">{{ task.task_title }}</p>
                                        <p class="task-prize">{{ task.task_price }} $BLZ</p>
                                        <a href="{% url 'complete-task' task.id %}" class="task-button">></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="buttons">
            <button onclick="location.href='{% url 'friends' %}'" id="friends-btn">👥 Friends</button>
            <button onclick="location.href='{% url 'boost' %}'" id="boost-btn">⚡ Boost</button>
            <button onclick="location.href='{% url 'home' %}'">🏠︎ Home</button>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    `<script>
        function openTask(element) {
            const url = element.href;
            const newWindow = window.open(url, '_blank');
            if (newWindow) {
                newWindow.focus();
            }
        }
    </script>
</body>
</html>
